<%- include("partials/basic") -%>

<head>
	<title>Military Data</title>
	<link version=2 rel="stylesheet" href="/css/style1.css"/>
</head>
<body>
  <header>
<div class="main">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      
      <h1></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
</div>
</header>
</body>
